<div class="container">
  <h2 class="mt-2">Bienvenido</h2>
  <div class="mt-5">
   <div class="row">
     <div class="col-md-4 mb-3">
       <div class="card text-white custom-card-ventas w-100 h-100 d-flex ">
         <div class="card-body">
           <h5 class="card-title">Resumen de Ventas</h5>
           <p class="card-text">Total del día: $500</p>
           <p class="card-text">Total de la semana: $3000</p>
           <p class="card-text">Total del mes: $12000</p>
         </div>
       </div>
     </div>
     <div class="col-md-4 mb-3">
      <div class="card text-white custom-card-agenda w-100 h-100 d-flex mb-3">
        <div class="card-body">
          <h5 class="card-title">Agenda</h5>
          <p class="card-text">Próxima cita: 10 de abril, 10:00 AM</p>
          <p class="card-text">Servicio: Baño y corte para Fido</p>
        </div>
      </div>
    </div>
     <div class="col-md-4 mb-3">
       <div class="card text-white custom-card-inventario w-100 h-100 d-flex mb-3">
         <div class="card-body">
           <h5 class="card-title">Inventario de Productos</h5>
           <p class="card-text">Shampoo para perros: 20 unidades</p>
           <p class="card-text">Cepillos: 15 unidades</p>
           <p class="card-text">Collares: 25 unidades</p>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>


